@using Task2.ViewModels;
@model FeedViewModel;

@{
    ViewData["Title"] = "RSS-фидер";
}

<div class="row">
    <!--Блок меню настроек-->
    <div class="col-4">
        <form method="post">
            @foreach (string feed in Model.Feeds)
            {
                <input type="text" name="feedLink" value="@feed" class="feed-link" />
            }
            <input type="number" name="updateTime" value="@Model.UpdateTime" />
            <input type="submit" class="btn btn-primary" value="Сохранить" />
        </form>
    </div>
</div>

