<?xml version="1.0"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Feeds>
    <string>https://habr.com/rss/interesting/</string>
    <string>somebullshit</string>
  </Feeds>
  <Update>20005</Update>
  <Proxy>proxyaddress</Proxy>
  <Login>testlogin</Login>
  <Password>testpassword</Password>
</Config>